.parent {
  padding-left: 0;
  padding-right: 0;
}

nav {
  height: 60px;
  background-color: #EEEEEE;
  position: fixed;
  width: 100%;
}

nav li {
	display: inline-block;
	font-size: 150%;
}

.one {
	color: black;
	margin-left: -30px;
	margin-right: 980px;
}

.box {
	text-align: right;
	color: purple;
}

.two {
	margin-right: 5px;
}

.three {
	margin-left: 10px;
}

.contain {
	padding-top: 100px;
	padding-left: 100px;
	position: relative;
}
.inp {
	text-align: left;
	width: 40%;
	height: 20px;
	border: 1px solid lightgrey;
	border-radius: 4px;
}

.imge {
	width: 23px;
	position: absolute;
	left: 580px;
	top: 100px;
	border-radius: 10%;
	border: 1px solid lightgrey;
	border-radius: 4px;
}

.navigation_wrapper{
	margin-top: 30px;
	margin-left: 100px;

}

.prev, .next {
	width: 7%;
	height: 35px;
	border: 1px solid lightgrey;
	display: inline-block;
	text-align: center;
}
.num{
	width: 15%;
	height: 35px;
	border: 1px solid lightgrey;
	display: inline-block;
	text-align: center;
	margin-right: -5px;
	margin-left: -5px;
	font-size: 15px;
}

.prev {
	border-radius: 4px 0px 0px 4px;
}

.next {
	border-radius: 0px 4px 4px 0px;
}

.foot {
	padding-top: 30px;
	margin-left: 60px;
}

.foot li {
	color: darkgrey;
	margin-top: 15px;
	list-style-type: none;
}

strong {
	color: blue;
	margin-left: 10px;
	margin-right: 10px;
}